<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-flask"></i> Projects
        </h1>
      </section>
    </div>
  </div>
</section>

<!-- Create project panel -->
<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h3>Project</h3>

          <p class="help">
            The creator of the project will be the <b>coordinator</b>.
          </p>

          <!-- BEGIN  Pca SPECIFIC TOOL SELECTION MENU -->
          <div class="field">
            <label class="label" for="npTool">Tool</label>
            <div class="select">
              <select class="input" [(ngModel)]="newProject.tool" id="npTool">
                <option value="Select">Select</option>
                <option value="PCA">PCA</option>
              </select>
            </div>
          </div>
          <!-- END Pca SPECIFIC TOOL SELECTION MENU -->

          <!-- BEGIN Pca SPECIFIC ALGORITHM SELECTION MENU -->
          <div class="field" *ngIf="newProject.tool === 'PCA'">
              <label class="label" for="npPcaAlgorithm">Algorithm</label>
              <div class="select">
                <select class="input" [(ngModel)]="newProject.algorithm" id="npPcaAlgorithm">
                  <option value="Select">Select</option>
                  <option value="VERTICAL_POWER_ITERATION">Vertical Power Iteration</option>
                </select>
              </div>
          </div>
          <!-- END Pca SPECIFIC ALGORITHM SELECTION MENU -->

          <!-- BEGIN Pca SPECIFIC Name AND Description FIELDS -->
          <div class="field" *ngIf="newProject.tool === 'PCA' && newProject.algorithm !== 'Select'">
              <label class="label" for="npName">Name</label>
              <div class="control" style="width:30%">
                <input class="input" [(ngModel)]="newProject.name" id="npName" placeholder="Name of the project" />
              </div>
          </div>

          <div class="field" *ngIf="newProject.tool === 'PCA' && newProject.algorithm !== 'Select'">
              <label class="label" for="npDescription">Description</label>
              <div class="control" style="width:70%">
                <input class="input" [(ngModel)]="newProject.description" id="npDescription" placeholder="Description of the project" />
              </div>
          </div>
          <!-- END Pca SPECIFIC Name AND Description FIELDS -->

          <div class="field" *ngIf="newProject.tool === 'PCA' && newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
                 <label class="label" for="npMaxIterations">Max iterations</label>
                 <div class="control" style="width:30%">
                   <input class="input" [(ngModel)]="newProject.max_iterations" id="npMaxIterations" placeholder="Integer (e.g. 150)" />
                 </div>
             </div>

          <div class="field" *ngIf="newProject.tool === 'PCA' && newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
                 <label class="label" for="npDimensions">Max dimensions</label>
                 <div class="control" style="width:30%">
                   <input class="input" [(ngModel)]="newProject.max_dimensions" id="npDimensions" placeholder="Integer (e.g. 10)" />
                 </div>
             </div>


          <div class="field" *ngIf="newProject.tool === 'PCA' && newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
                 <label class="label" for="npEpsilon">Epsilon</label>
                 <div class="control" style="width:30%">
                   <input class="input" [(ngModel)]="newProject.epsilon" id="npEpsilon" placeholder=" Float number (e.g. 0.1)" />
                 </div>
             </div>

<!--          <label class="label" for="send_final_result" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'|| newProject.algorithm === 'HORIZONTAL_POWER_ITERATION'|| newProject.algorithm === 'VERTICAL_SEQUENTIAL_ITERATION'">Send final results to other clients</label>-->
<!--            <div class="field is-vertical" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'|| newProject.algorithm === 'HORIZONTAL_POWER_ITERATION'|| newProject.algorithm === 'VERTICAL_SEQUENTIAL_ITERATION'">-->
<!--              <div class="field-body">-->
<!--                <div class="field is-narrow">-->
<!--                  <input [(ngModel)]="newProject.send_final_result" type="checkbox" id="send_final_result" name="send_final_result" title="send_final_result" value="send_final_result">-->
<!--                  <label for="send_final_result"> Send final result </label><br>-->
<!--                </div>-->
<!--                </div>-->
<!--            </div>-->

          <label class="label" for="center" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'">Data preprocessing </label>
            <div class="field is-vertical" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
              <div class="field-body">
                <div class="field is-narrow">
                  <input [(ngModel)]="newProject.center" type="checkbox" id="center" name="center" title="center" value="center">
                  <label for="center"> Center (Recommended) </label><br>
                </div>
                </div>
            </div>

            <div class="field is-vertical" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
              <div class="field-body">
                <div class="field is-narrow">
                  <input [(ngModel)]="newProject.scale_variance" type="checkbox" id="scale" name="scale" title="scale" value="scale">
                  <label for="scale"> Scale </label><br>
                </div>
                </div>
            </div>

          <div class="field is-vertical" *ngIf="newProject.algorithm === 'VERTICAL_POWER_ITERATION'">
              <div class="field-body">
                <div class="field is-narrow">
                  <input [(ngModel)]="newProject.speedup" type="checkbox" id="speedup" name="speedup" title="speedup" value="speedup">
                  <label for="speedup"> Speed up computation through sporadic orthonormalisation </label><br>
                </div>
                </div>
            </div>

          <!-- BEGIN Pca SPECIFIC DISABLE/ENABLE Create BUTTON -->
          <div class="field">
            <div class="control">
              <div class="buttons">
                <button class="button is-success" [disabled]="newProject.tool === 'Select' || newProject.algorithm === 'Select' ||
                                                              !newProject.name || !newProject.description"
                        (click)="createProject()">
                  <i class="fa fa-plus icon"></i>
                  <span>Create</span>
                </button>
              </div>
            </div>
          </div>
          <!-- END Pca SPECIFIC DISABLE/ENABLE Create BUTTON -->

        </div>
      </div>
    </div>

    <!-- List of projects -->
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h3>Projects</h3>
          <table class="table" *ngIf="projects.length > 0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Tool</th>
              <th>Algorithm</th>
              <th>Name</th>
              <th>Status</th>
              <th>Step</th>
              <th>Round</th>
              <th>Role(s)</th>
              <th>Created at</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proj of projects">
              <td>
                <a routerLink="/project/{{proj.id}}">
                   {{proj.id | slice:0:5}}
                </a>
              </td>
              <td>
                   {{proj.tool}}
              </td>
              <td>
                  {{proj.algorithm}}
              </td>
              <td>
                  {{proj.name}}
              </td>
              <td>
                <div class="tags">
                  <span class="tag is-warning"  *ngIf="proj.status === 'Created'" >{{proj.status}}</span>
                  <span class="tag is-primary"  *ngIf="proj.status === 'Parameters Ready'" >{{proj.status}}</span>
                  <span class="tag is-link"     *ngIf="proj.status === 'Aggregating'" >{{proj.status}}</span>
                  <span class="tag is-success"  *ngIf="proj.status === 'Done'" >{{proj.status}}</span>
                  <span class="tag is-danger"   *ngIf="proj.status === 'Failed' || proj.status === 'Aborted'" >{{proj.status}}</span>
                </div>
              </td>

              <td>{{proj.step}}</td>

              <td>{{proj.commRound}}</td>
              <td>
                <div class="tags">
                  <span *ngFor="let role of proj.roles" class="tag" [ngClass]="{'is-warning': role === 'coordinator', 'is-info': role === 'participant'}">{{role}}</span>
                </div>
              </td>
              <td>
                {{proj.createdAt | date: "short"}}
              </td>
              <td>
                <div class="buttons">
                  <button class="button is-small is-danger"
                          (click)="deleteProject(proj)"
                          [disabled]="!haveRole(proj, 'coordinator')">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <p>
            <i class="table" *ngIf="projects.length == 0">
              No project has been created yet!
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
