<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-question"></i> About
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
            <h3>Contact</h3>

          In case of questions or problems please contact:
          <ul>
            <li><a href="mailto:hartebrodt@imada.sdu.dk">Anne Hartebrodt</a></li>
            <li>Richard Roettger <a href="https://imada.sdu.dk/~roettger/main_page/index.php">Homepage</a>.

          </ul>

          <h3>Acknowledgements</h3>
          This tool is heavily based on a different software (<a href="https://www.exbio.wzw.tum.de/splink/">sPLINK</a>)
          developed at the Chair of Experimental Bioinformatics at TUM Munich. We thank the original author for kindly
          providing the code for their tool. Please visit their website if you are interested in federated Genome-Wide
          Association Studies!
          <h3>Citation</h3>
          <p>
            If you use this tool in your study, please cite it as follows:

          <h3>Funding</h3>
          <p>
              This project has received funding from the European Union’s Horizon 2020 research and innovation programme
              under grant agreement No 826078. This reflects only the view of the authors and the European Commission is not
              responsible for any use that may be made of the information it contains.
            <br>
            <img src="assets/fc_logo.svg.png" style="height: 50px" alt="FeatureCloud" />
          </p>

          <h3>Citation</h3>
          <p>
            If you use <b>Pca</b> in your study, please cite it as follows:
          </p>
          <pre>{{"@misc{Pca2021,"}}
{{"    title={Pca:},"}}
{{"    author={My Name},"}}
{{"    year={2021},"}}
{{"    howpublished={https://pca_github_url},"}}
{{"}"}}</pre>
        </div>
      </div>
    </div>
  </section>
</div>
